<div id="content" #content class="content" fxLayout="column">
    <div>
      <div class="titP" fxLayout="column" fxLayoutAlign="center center">
        <span class="nameP">Propuesta de </span>
      </div>
      <div class="DatosP" fxLayout="column">
        <span class="bold">1. Datos de Propuesta</span>
        <div fxLayout="column" class="nombreE bold">
          <span class="titNevent bold">1.1 Nombre del Evento</span>
          <span class="nEvento normalL"
            >  </span
          >
          <div class="fecha" fxLayout="row">
            <span class="bold">Fecha:</span>
            <span class="normalL" style="padding-left: 3px;"></span>
          </div>
          <!-- <div class="hora" fxLayout="row">
            <span class="bold">Hora: </span>
            <span class="normalL">15h00</span>
          </div> -->
        </div>
      </div>
      <div class="nombreE marginT" fxLayout="column">
        <span class="bold">1.2 Datos Generales</span>
        <table class="table-bordered marginT">
          <tr>
            <td>Institución</td>
            <td class="normalL"></td>
          </tr>
          <tr>
            <td>Facultad</td>
            <td class="normalL"></td>
          </tr>
          <tr>
            <td>Carrera</td>
            <td class="normalL"></td>
          </tr>
          <tr>
            <td>Enlace Zoom</td>
            <td class="normalL"></td>
          </tr>
        </table>
    
      </div>
      <div class="nombreE participantesE bold marginT" fxLayout="column">
        <span>1.3 Participantes del Evento</span>
        <div class="tablaPE marginT">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Cargo en el evento</th>
                <th>Actividades</th>
              </tr>
            </thead>
            <tbody>
              <tr >

                <<!-- td class="normalL"> {{participante.name}} </td>
                    *ngFor="let participante of participants"
                <td class="normalL">{{participante.position}}</td>
                <td class="normalL">{{participante.activities}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="localizacion" fxLayout="column">
        <span class="bold fontTitle">2. Localización Geográfica</span>
        <div class="tablaPE marginT">
          <table class="table table-bordered">
            <thead>
              <tr style="font-size: 10px">
                <th>Provincia</th>
                <th>Cantón</th>
                <th>Sector</th>
              </tr>
            </thead>
            <tbody>
              <tr style="font-size: 9px">
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="introduccion" fxLayout="column">
        <span class="bold fontTitle">3. Introducción</span>
        <span class="texto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
          molestias voluptate iure doloribus aut commodi odio iusto, possimus
          totam natus praesentium unde porro cupiditate et maiores suscipit quos,
          laboriosam placeat.
        </span>
      </div>
      <div class="Justificación marginT" fxLayout="column">
        <span class="bold fontTitle">4. Justificación</span>
        <span class="texto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
          molestias voluptate iure doloribus aut commodi odio iusto, possimus
          totam natus praesentium unde porro cupiditate et maiores suscipit quos,
          laboriosam placeat.
        </span>
      </div>
      <div class="metas marginT" fxLayout="column">
        <span class="bold fontTitle">5. Metas</span>
        <ul class="listaM">
          <li class="texto">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            tempore magni commodi? Debitis ad, enim nostrum nesciunt, quae
            consectetur distinctio repellendus itaque iusto dolorem, ullam
            explicabo sunt temporibus magni. Sed!
          </li>
          <li class="texto">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
            tempore magni commodi? Debitis ad, enim nostrum nesciunt, quae
            consectetur distinctio repellendus itaque iusto dolorem, ullam
            explicabo sunt temporibus magni. Sed!
          </li>
        </ul>
      </div>
      <div class="objetivos" fxLayout="column">
        <span class="bold fontTitle">6. Objetivos</span>
        <div class="objetivoG nombreE marginT" fxLayout="column">
          <span class="bold">6.1 Objetivo General</span>
          <span class="texto">
           
          </span>
        </div>
        <div class="objetivosE nombreE marginT">
          <span class="bold">6.2 Objetivos Específicos</span>
          <ul class="listaM">
            <li class="texto" >

            </li>
          </ul>
        </div>
      </div>
  
      <div class="publicoO marginT" fxLayout="column">
        <span class="bold fontTitle">7. Publico Objetivo</span>
        <span class="texto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
          molestias voluptate iure doloribus aut commodi odio iusto, possimus
          totam natus praesentium unde porro cupiditate et maiores suscipit quos,
          laboriosam placeat.
        </span>
      </div>
      <div class="descripcionE marginT">
        <span class="bold fontTitle">8. Descripción del Evento</span>
        <div class="titE nombreE marginT">
          <span class="bold"
            >Titulo del:<span class="detalleE">
            </span></span>
        </div>
        <div class="titE nombreE marginT">
          <span class="bold"
            >Expositores o Invitados :<span class="detalleE"
              >Aplicaciones moviles Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Consequatur ratione nulla distinctio praesentium
              soluta? Optio praesentium earum totam odit, voluptate voluptas?
              Consectetur, recusandae eius atque perferendis debitis sed rerum!
              Vitae!</span
            ></span
          >
        </div>
        <div class="titE nombreE marginT">
          <span class="bold"
            >Fecha :<span class="detalleE">12 de mayo del 2023</span></span
          >
        </div>
        <div class="titE nombreE marginT">
          <span class="bold"
            >Contenido del evento :<span class="detalleE">asdasdsads</span></span
          >
        </div>
      </div>
      <div class="actividadesE marginT" fxLayout="column">
        <span class="bold fontTitle">9. Actividades</span>
        <ol class="listaM">
          <li >
           <!--  *ngFor="let activity of pEvento.activities.split('\n')" class="textoA">
            {{ activity }} -->
          </li>
        </ol>
      </div>
      <div class="legalizacion" fxLayout="column">
        <span class="bold fontTitle">10. Legalizaciòn del Evento</span>
        <div class="datosE" fxLayout="column">
          <span class="texto">Elaborado por: </span>
          <span class="texto">Fecha de Presentaciòn: </span>
        </div>
      </div>
    </div>
  </div>
  
  <div #encabezadoHtml class="encabezado" >
    <div class="logo" fxLayout="row">
      <img src="../../../../assets/logoUnibe.png" alt="" />
      <div fxLayout="column" fxLayoutAlign="center center" class="headerTitle">
        <span class="Unib">UNIVERSIDAD IBEROAMERICANA DEL ECUADOR</span>
        <span class="subtitle">Vinculación con la Sociedad</span>
      </div>
    </div>
  </div>
