$color-azulUnibe: #00498c;
$color-amarilloUnibe: #f4c200;
.fondo{
    height: 100vh;
}
.contenido{
    height: 80vh;
}
.loginR{
    height: 70vh;
    border: 0.3125vh solid $color-azulUnibe; 
    outline: 0.3125vh solid $color-amarilloUnibe;
    
    outline-offset: 1.5vh;
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    padding: 2vh;
    width: 55vh;
}
.logo{
    img{max-width: 260px;
        height: auto;}
}
.iconOk i{
    color: green;
    font-size: 7vh;
}
.confirmaEnvio{
    padding-right: 2vh;
    font-size: 18px;
}