.fondo{
    height: 100vh;
}
.sendEmail{
    width: 60%;
    height: 50vh;
    background-color: transparent; /* Color de fondo transparente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra con transparencia */
    border-radius: 8px; 
}
.formulario{
    margin-top: 5vh;
}
.iconOk i{
    color: green;
    font-size: 7vh;
}
.confirmaEnvio{
    padding-right: 2vh;
    font-size: 18px;
}
.alert{
    color: #00498C;
    font-size: 17px;
}