<div class="fondo" fxLayout="column" fxLayoutAlign="space-between">
  <div>
    <app-header></app-header>
  </div>
  <div fxLayoutAlign="center center">
    <div class="sendEmail">
      <div class="titleLogin" style="margin-top: 2vh;"> 
        <div class="text-center">
          <span class="text-center helvetica" style="font-size: 30px;" *ngIf="!error">Recuperar Contraseña</span>
        </div>
        
        <div class="alert alert-danger" role="alert" *ngIf="error" fxLayout="row" fxLayoutAlign="center center">
          <i class="fa-solid fa-circle-exclamation fa-xl"></i>
          <span style="padding-left: 20px;" >
            {{message}}
          </span>
         
        </div>
      </div>
      <form #form="ngForm" fxLayout="column" class="formulario" fxLayoutAlign="center center" >
        <div  fxLayout="column" style="width: 70%;">
          <div class="form-group">
            <label for="username">Correo electrónico</label>
            <input type="email" class="form-control" id="username" name="email"
                   [(ngModel)]="correo" 
                   [ngClass]="valido && form.controls['email'].invalid ? 'is-invalid' : ''"
                   pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)@+(.[a-z0-9-]+)(.[a-z]{2,4})$"
                   required
                   >
              
          <small *ngIf="valido && !correo">
            <span class="inputInvalido">Este campo es requerido</span>
          </small> 
          <small *ngIf="form.controls['email']?.errors?.['pattern'] && valido">
            <label for="" class="inputInvalido">
              Formato invalido</label
            >
          </small>
          </div>
          
        </div>
        <div>
            <button style="width: 26vh;" class="my-button" (click)="enviarEmail(form)">Enviar Email</button>
        </div>
      </form>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>

<p-dialog [modal]="true" [visible]="visible" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [closable]="false" >
 <!--  <ng-template pTemplate="header">
    <div fxLayoutAlign="center center" style="width: 100%;">
      <span class="helvetica" >Contraseña Modificada</span>
    </div>
  </ng-template> -->
  <div class="iconOk" style="width: 100%;" fxLayout="column" fxLayoutAlign="center center">
    <div style="padding-right: 5vh;">
      <i class="fa-solid fa-circle-check"></i>   
    </div>
    <div fxLayoutAlign="center center" >
      <span class="confirmaEnvio">Revisa tu correo {{correo}} hemos enviado un enlace de recuperación</span>
    </div>
  </div>
  <div class="confirm" fxLayoutAlign="center center">
    <a routerLink="/login" >
      <button style="width: 20vh;" class="my-button">Ok</button>
    </a>
    
  </div>
</p-dialog>